{% extends 'base.html.twig' %}

{% block title %}Pile ou Face
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>Pile ou Face</h1>

		{{ form_start(form) }}
		{{ form_row(form.choix1) }}
		{{ form_row(form.choix2) }}
		<h6 style="text-align:center;font-style: italic;">Réponse sous la forme d'un proverbe ou d'une expression</h6>

		{{ form_row(form.submit, {
            label_html: true,
            label: 'Laisse le Hasard décider pour toi ...<img class="htmx-indicator" style="width : 50px; height : 50px; margin-left : 20px;" 
            src="/wait.svg">'
        }) }}
		{{ form_end(form) }}


		<div id="response"></div>


	{% endblock %}
